@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  a {
    @apply text-foreground hover:text-secondary;
  }
}

@layer components {
  .bg-card {
    /* @apply bg-gradient-to-b from-[#21172A] to-[#095D70]/30; */
    @apply bg-secondary
  }
}

@layer utilities {
    .input-form {
        @apply bg-[#21172A] border-[#8F6DFE]/30 text-[#FDFFED] placeholder:text-[#FDFFED]/50;
      }
}
/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root { */
        /* Name: custom color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        /* --gradient: linear-gradient(to top left,#134E5E,#71B280);
        --background: 205 98.3% 98.44%;
        --foreground: 205 6.6000000000000005% 0.88%;

        --muted: 205 6.6000000000000005% 92.2%;
        --muted-foreground: 205 3.3000000000000003% 42.2%;

        --popover: 205 37.199999999999996% 92.2%;
        --popover-foreground: 205 6.6000000000000005% 1.1%;

        --card: 205 37.199999999999996% 92.2%;
        --card-foreground: 205 6.6000000000000005% 1.1%;

        --border: 205 11.600000000000001% 89.88%;
        --input: 205 11.600000000000001% 89.88%;

        --primary: 205 66% 22%;
        --primary-foreground: 205 1.32% 92.2%;

        --secondary: 205 3.3000000000000003% 96.1%;
        --secondary-foreground: 205 4.96% 12.2%;

        --accent: 205 3.3000000000000003% 96.1%;
        --accent-foreground: 205 4.96% 12.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 205 66% 22%;

        --radius: 0.5rem;
    } */
    /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%; */
  /* } */

  /* .dark { */
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    /* --gradient: linear-gradient(to top left,#833ab4,#fd1d1d,#fcb045);

    --background: 272 29% 13%;
    --foreground: 67 100% 96%;

    --muted: 293 25.5% 14.1%;
    --muted-foreground: 293 5.1% 54.7%;

    --popover: 293 54.8% 6.109999999999999%;
    --popover-foreground: 293 5.1% 97.35%;

    --card: 293 54.8% 6.109999999999999%;
    --card-foreground: 300 100% 76%;

    --border: 293 25.5% 14.1%;
    --input: 293 25.5% 14.1%;

    --primary: 293 51% 47%;
    --primary-foreground: 293 5.1% 4.699999999999999%;

    --secondary: 293 25.5% 14.1%;
    --secondary-foreground: 293 5.1% 97.35%;

    --accent: 293 25.5% 14.1%;
    --accent-foreground: 293 5.1% 97.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 293 5.1% 97.35%;

    --ring: 293 51% 47%;
} */
  /* .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 80%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
/* }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
